
.btn {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    text-decoration: none;
    width: 80px;
    height: 40px;
    display: block;
    text-align: center;
    padding: 0;
    &:hover{
        color: #fff;
        background-color: var(--primary);
        transition: all 0.3s;
    }
}

.line-height {
    line-height: 38px;
}

.custom-row {
    line-height: 42px;
}

.pt-10 {
    padding-top: 10px;
}